<html>

<head>
  <title>IPOs Dashboard</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">
</head>

<body>

  <h2 style="text-align:center">Active IPOs</h2>
  <table class="dataframe" id="activeIposTable" style="margin-left: auto; margin-right: auto; text-align: center;" border="1">
    <thead>
      <tr bgcolor="#7ed3f2">
        {% for column in ['S.NO']+ active_ipos_df.columns.tolist() %}
        <th>
          <h4>{{column}}</h4>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for index, rec in active_ipos_df.iterrows() %}
      <tr bgcolor="#ddf0e1">
        <td>{{index + 1}}</td>
        <td><b>{{rec['Issuer Company']}}</b></td>
        <td>{{rec['Open']}}</td>
        <td>{{rec['Close']}}</td>
        <td>{{rec['Issue Price (Rs)']}}</td>
        <td>{{rec['Issue Size (Rs Cr)']}}</td>
        <td>{{rec['Qualified Institutional Subscription']}}</td>
        <td>{{rec['Non Institutional Subscription']}}</td>
        <td>{{rec['Retail Individual Subscription']}}</td>
        <td>{{rec['Employee Subscription']}}</td>
        <td>{{rec['Others Subscription']}}</td>
        <td><b>{{rec['Total Subscription']}}</b></td>
        <td><a href="{{rec['Subscription Page']}}" target="_blank">Subscription Link</a>
        </td>
        <td><a href="{{rec['Main Page']}}" target="_blank">IPO Link</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 style="text-align:center">Upcoming IPOs</h2>
  <table class="dataframe" id="upcomingIposTable" style="margin-left: auto; margin-right: auto; text-align: center;" border="1">
    <thead>
      <tr bgcolor="#7ed3f2">
        {% for column in ['S.NO']+ upcoming_ipos_df.columns.tolist() %}
        <th>
          <h4>{{column}}</h4>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for index, rec in upcoming_ipos_df.iterrows() %}
      <tr bgcolor="#ddf0e1">
        <td>{{index + 1}}</td>
        <td><b>{{rec['Issuer Company']}}</b></td>
        <td>{{rec['Open']}}</td>
        <td>{{rec['Close']}}</td>
        <td>{{rec['Issue Price (Rs)']}}</td>
        <td>{{rec['Issue Size (Rs Cr)']}}</td>
        <td><b>{{rec['Total Subscription']}}</b></td>
        <td><a href="{{rec['Main Page']}}" target="_blank">IPO Link</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 style="text-align:center">Past IPOs</h2>
  <table class="dataframe" id="pastIposTable" style="margin-left: auto; margin-right: auto; text-align: center;" border="1">
    <thead>
      <tr bgcolor="#7ed3f2">
        {% for column in ['S.NO']+ past_ipos_df.columns.tolist() %}
        <th>
          <h4>{{column}}</h4>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for index, rec in past_ipos_df.iterrows() %}
      <tr bgcolor="#ddf0e1">
        <td>{{index + 1}}</td>
        <td><b>{{rec['Issuer Company']}}</b></td>
        <td>{{rec['Open']}}</td>
        <td>{{rec['Close']}}</td>
        <td>{{rec['Issue Price (Rs)']}}</td>
        <td>{{rec['Issue Size (Rs Cr)']}}</td>
        <td><a href="{{rec['Subscription Page']}}" target="_blank">Subscription Link</a>
        </td>
        <td><a href="{{rec['Main Page']}}" target="_blank">IPO Link</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>